
.flashcards-wrapper{
    display:grid;
    grid-template-rows:repeat(10,8rem);
    grid-template-columns: repeat(auto-fit, minmax(186px,1fr));;
    grid-column-gap:1rem;
    grid-row-gap:1rem;
    justify-content:center;
    left:5rem;
    width: 100%;
    height: 100%;

   
}

.flash-card{
    padding:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    width:100%;
    height:100%;
    position:relative;
    border-radius:1rem;
    color:rgba(9, 10, 26, 0.836);
    box-shadow: 0.5rem 0.5rem 0.5rem ;
    transition: 0.5s;
    transform-style:preserve-3d;
    transform: rotateY(var(--rotate-y, 0)) perspective(100rem);
    -webkit-transform: rotateY(var(--rotate-y, 0)) perspective(100rem);
    -moz-transform: rotateY(var(--rotate-y, 0)) perspective(100rem);
    -ms-transform: rotateY(var(--rotate-y, 0)) perspective(100rem);
    -o-transform: rotateY(var(--rotate-y, 0)) perspective(100rem);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}


.flash-card.tipOver { 
    --rotate-y: 180deg;
}

.flash-card .card-back{
    
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}


.flash-card .card-front,
.flash-card .card-back{
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(233, 204, 204);
    cursor:pointer;
    font-size:1.5rem;
    position:absolute;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}


.top-bar{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    padding-left:4rem;
    justify-content:space-between;
    align-items:center;
    padding: 1rem;

}

.top-bar h3{
    border-radius: 0.5rem;
    background-color:white;
    padding-left:1rem;
    padding-right:1rem;
    margin-right:2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.search-input{
    border-radius: 0.6rem;
    color:rgb(20, 20, 53);
    cursor:pointer;
    width:20rem;
    font-size:1.5rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}


.select-input{
    width:20rem;
    font-size:1.5rem;
    color:rgb(20, 20, 53);
    /* padding-left:4rem; */
    cursor:pointer;
    border-radius: 0.6rem;

}

.search-box{
    display: flex;
    flex-wrap: wrap;
    margin-left:2rem;
}



/* .search-box .select-input .opt::after{
    outline-style: solid;
    color:rgb(167, 123, 123);
} */



