.popup-bg{
    position:fixed;
    background-color: rgba(0, 0, 0, 0.568);
    display:grid;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    margin-left: 0;

}

.modal-wrapper{
    display:flex;
    flex-direction:column;
    width:20rem;
    height:20rem;
    border-radius:1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem grey;
    color:black;
    background-color:white;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}


.clos-btn-div{
    display:flex;
    justify-content:flex-end;
}

.exit-btn{
    font-weight:bolder;
    color: rgba(189, 99, 99, 0.801);
    border: 0;
    background-color:white;
    padding:0.5rem;
    font-size:1rem;
}


.modal-content{
    display: grid;
    grid-template-rows: 2fr 2fr 2fr ;
    grid-row-gap:.5rem;
    padding:0.5rem;
    justify-content: center;
    align-items: center;
    font-size:1rem;
  
}

.txt-area{
    border: 0;
    font-size:1rem;
    border-radius:0.2rem;
    -webkit-border-radius:0.2rem;
    -moz-border-radius:0.2rem;
    -ms-border-radius:0.2rem;
    -o-border-radius:0.2rem;
}

.modal-footer{
    display: grid;
    grid-template-columns:2fr 2fr 1fr;
    
    /* justify-content: center; */
}


.footer-create-btn, .footer-cancel-btn{
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:3rem;

}

.footer-create-btn button{
    /* color:rgb(247, 207, 207); */
    font-size:1rem;
    padding:0.2rem;
    width:5rem;

}

.footer-cancel-btn button{
    /* color:rgb(247, 207, 207); */
    font-size:1rem;
    padding:0.2rem;
    width:5rem;

}


button{
    cursor:pointer;
    border-radius:1rem;
    color:white ;
    background-color:rgb(4, 124, 88);
    text-align:center;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}