.community-header-container{
    max-width: 100vw;
    min-height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18rem;
    

}

.community-header-container img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    color: white;
}

.logout-btn{
    outline:none;
    border:none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding:7px;
    border-radius:4px;
    color:white;
    background-color:rgb(237, 163, 163);
    width: 100px;
    margin-left:30rem;
}

.logout-btn:hover{
    background-color:rgb(240, 195, 195);

}

.join-btn{
    margin-left: 1rem;
    width: 100px;
    padding: 0.4rem 0.8rem;
    border-radius: 8rem;
    border: none;
    align-self: center;
    background-color: #ffdd04;
}

.join-btn:hover{
    border: #ffdd04 2px solid;
    background-color: transparent;
}