.post-form-container{
    display: flex;
    flex-direction: column;
    min-width: 45vw;
    padding: 0 1rem;
    margin-top: 2rem;

}

.close-btn{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3ch;
    background: none;
    border: none;
    margin-right: 0.4rem;
}
.postForm-input{
    height: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.postForm-input-large{
    height: 8rem;
    padding: 1rem;
    resize: vertical;
}

.postForm-header{
    font-size: 3ch;
}
.post-btn{
    align-self: baseline;
    min-width: 30%;
    padding: 0.7rem;
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
}