* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --post-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --upvotes-section: #f8f9fa;
    --elements-base: white;
}

.post-container{
    max-width: 640px;
    min-height: 170px;
    box-shadow:var(--post-shadow);
    display: flex;
    margin-bottom: 1.5rem;
    background-color: var(--elements-base);
}
.upvotes-section{
    min-width: 40px;
    min-height: 100%;
    background-color: var(--upvotes-section);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
}
.upvotes-section i{
    font-size: 3ch; 
}
.post-content{
    min-width: 94%;
    overflow-x: hidden;
    padding: 0.6rem 1rem;
}
.post-meta-data, 
.post-text, 
.engagement-tray
{
    min-width: 100%;
}
.post-title, .post-sub{
    margin-bottom: 0.3rem;
    min-width: 100%;
}
.post-sub{
    position: relative;
}
.post-sub::before{
    content: '';
    bottom: 0;
    width: 100%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to bottom, transparent 25%, rgb(255, 254, 254));

}
.engagement-tray{

    overflow: hidden;
    display: flex;
    margin: 0 0.4rem;
}
.engagement-tray i{
    margin-right: 0.5rem;
}
.comment-icon{
    margin-right:1rem;
}
